@import '../../index.scss';
@import '../../sass/_mixins.scss';

.user {
    width: 500px;
    @include breakpoints(sm) {
        width: 300px;
    }
    border: 2px solid $white;
    @include boxShadow;
    padding: 20px;
    @include borderRadius(20px);
    .userContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        @include breakpoints(sm) {
            flex-direction: column;
            gap: 20px;
        }
        .userData {
            display: flex;
            flex-direction: column;
            gap: 6px;
            .item {
                background-color: $yellow;
                display: flex;
                align-items: center;
                gap: 6px;
                @include borderRadius(6px);

                span {
                    display: block;
                    padding: 8px;
                }
                
                span:nth-child(1) {
                    color: $violet1;
                    width: 80px;
                    border-right: 1px solid $white;
                }
                span:nth-child(2) {
                    color: $blue-dark;
                }
            }
        }
        .btn-group{
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
}