@import '../../index.scss';
@import '../../sass/_mixins.scss';

.users {
    background-color: #f0f0f0;
    width: fit-content;
    min-width: 400px;
    @include breakpoints(sm) {
        min-width: 320px;
    }
    min-height: 150px;
    padding: 30px;
    @include borderRadius(30px);
    border: 2px solid $sky1;
    margin: 30px auto;
    .usersContainer {
        .topHead {
            margin-top: -20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            .github {
                margin-bottom: 10px;
                display: block;
                width: 50px;
                height: 50px;
                background-color: $white;
                @include borderRadius(50px);
                padding: 10px;
                .githubIcon {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .usersList {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            margin-top: 20px;
            
            .errTxt {
                color: $red2;
                font-family: $Josefin_font;
            }
        }
    }
}